<div class="container mx-auto pb-8 px-6">
  <assignment-form
    :assignment="<%= serialize_resource(@assignment) %>"
    :assignment-questions="<%= serialize_resource(@assignment_questions) %>"
    :uploaded-assignment-question-responses="<%= serialize_resource(@assignment_question_responses) %>"
    :course-id="<%= @course.id.to_i %>"
    :user="<%= serialize_resource(current_user) %>"
  ></assignment-form>
</div>
