<div class="my-auto md:mx-auto py-8 px-4">
  <div class="bg-slate-100 shadow-lg rounded-lg px-16 py-8 items-center justify-between flex flex-col gap-4 md:gap-8">

    <h2 class="text-2xl md:underline underline-offset-8 font-bold text-center text-edd-blue-800">
      Modifica tu contrase単a
    </h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <div class="mb-4">
        <%= f.label :password, "Nueva contrase単a" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "p-2 w-full rounded-md border-2 border-edd-blue-400 focus:border-edd-blue-800" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, "Confirmar Contrase単a" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "p-2 w-full rounded-md border-2 border-edd-blue-400 focus:border-edd-blue-800" %>
      </div>

      <div class="actions">
        <%= f.hidden_field :reset_password_token %>
        <%= f.submit "Modificar Contrase単a", class: "w-full mb-2 text-white font-bold hover:bg-edd-blue-800 text-center bg-edd-blue-500 hover:cursor-pointer rounded-md px-12 py-1 mb-1" %>
      </div>

      <%= render "devise/shared/error_messages", resource: resource %>
    <% end %>
  </div>
</div>

