<div class="my-auto md:mx-auto py-8 px-4">
  <div class="bg-slate-100 shadow-lg rounded-lg px-16 py-8 items-center justify-between flex flex-col">

    <h2 class="text-2xl underline underline-offset-8 font-bold text-center text-edd-blue-800 mb-6">
      EDD Platform Login
    </h2>
    <%- if devise_mapping.omniauthable? && oauth_enabled? %>
      <%= button_to "Iniciar sesión con Google",
          user_google_oauth2_omniauth_authorize_path,
          method: :post,
          class: "text-white mb-4 font-bold hover:bg-edd-blue-800 text-center bg-edd-blue-500 hover:cursor-pointer rounded-lg md:px-12 px-8 py-3"
      %>
      <hr class="w-full border-2 border-edd-blue-400 mb-4">
    <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "text-edd-blue-800 font-semibold" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "p-2 w-full rounded-md border-2 border-edd-blue-400 focus:border-edd-blue-800" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "text-edd-blue-800 font-semibold" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "p-2 w-full rounded-md border-2 border-edd-blue-400 focus:border-edd-blue-800" %>
        <p class="text-xs text-edd-blue-800 ">Por defecto la contraseña es el número de alumno</p>
      </div>

      <div class="flex flex-col justify-center items-center">
        <%= f.submit "Iniciar Sesion", class: "w-full text-white font-bold hover:bg-edd-blue-800 text-center bg-edd-blue-500 hover:cursor-pointer rounded-md px-12 py-2 mb-2" %>
        <%= link_to "Crear una cuenta", default_course_student_registration_path, class: "text-edd-blue-800 font-semibold hover:underline" %>
        <%= link_to "Recuperar contraseña", new_password_path(resource_name), class: "text-edd-blue-800 font-semibold hover:underline" %>
      </div>
    <% end %>
  </div>
</div>
