<!DOCTYPE html>
<html>
  <head>
    <title>Klasse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag "application" %>
  
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div id="vue-app">
      <app></app>
      <%= yield %>
    </div>
  </body>
</html>
